*{
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
}  

nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

nav ul li a{
  margin: 25px;
  color: white;
  text-decoration: none;
}

/* .App{
  margin-top: 50px;
  margin-left: 50px;
} */

h1{
  margin-top: 30px;
}

h1, .texteAccueil{
  text-align: center;
}

.ecoles{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.ecole{
  height: 300px;
  width: 250px;
  border: solid 1px black;
}